<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page/css/style.css'%}">

    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body id="main">
<div id="welcome">
    <ul>
        <h1>
        Добро пожаловать в<br />
        "Тылла биэр!"
        </h1>
        <h2>
            Разгадывайте слова и <br />
            погружайтесь в  мир любимых <br />
            историй
        </h2>
        <a href="library" class="custom_button">
        Список литературы
    </a>
</ul>
</div>

</body>
</html>