body{
	margin: 0;
    background-color:#FFE2D8;
}

a {
    color: #250E0E;
    text-decoration: none;
}

#welcome {
	display: flex;
	flex-direction: row;
	position: relative;
}

#main{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1920' height='1080' viewBox='0 0 1920 1080' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_20_2)'%3e%3crect width='1920' height='1080' fill='%23FFE2D8'/%3e%3crect x='1353' width='12' height='1080' fill='%233D1A1A'/%3e%3crect x='1443' width='12' height='1080' fill='%233D1A1A'/%3e%3crect x='1464' y='-5' width='12' height='1085' fill='%233D1A1A'/%3e%3cpath d='M1417.5 63L1415.18 61.1843C1410.32 57.395 1403.74 56.6764 1398.19 59.3289L1397.58 59.6181C1393.15 61.7357 1390.04 65.8976 1389.26 70.751V70.751C1388.77 73.8391 1389.25 77.0044 1390.65 79.8017L1391.14 80.7881C1393.3 85.0904 1397.05 88.3782 1401.59 89.9463L1402.29 90.1852C1406.63 91.6834 1411.36 91.6536 1415.68 90.1009L1422.93 87.5C1426.56 86.1954 1429.73 83.8535 1432.05 80.7643V80.7643C1434.61 77.3472 1436 73.191 1436 68.9195V66.2511C1436 61.8151 1434.94 57.4437 1432.9 53.5036L1432.75 53.214C1429.98 47.8698 1425.63 43.5143 1420.29 40.7477L1418.72 39.9383C1411.33 36.1083 1402.8 35.0732 1394.7 37.0227L1390.64 38.0013C1383.88 39.6268 1377.8 43.3123 1373.24 48.547L1372.56 49.3316C1367.68 54.9208 1365 62.085 1365 69.5V69.5V75.3101C1365 86.2857 1369.51 96.7801 1377.46 104.339V104.339C1382.41 109.035 1388.47 112.391 1395.07 114.089L1402.5 116L1409.39 117.676C1416.96 119.518 1423.83 123.536 1429.15 129.233V129.233C1433.01 133.364 1435.94 138.266 1437.76 143.615L1439.99 150.144C1441.96 155.945 1442.37 162.165 1441.17 168.173V168.173C1440.39 172.03 1438.97 175.728 1436.97 179.109L1436.36 180.136C1432.53 186.58 1426.96 191.811 1420.29 195.225V195.225C1412.94 198.982 1404.62 200.361 1396.45 199.17L1392.99 198.665C1387.75 197.9 1382.78 195.835 1378.54 192.657V192.657C1372.39 188.043 1368.13 181.352 1366.54 173.828L1365.56 169.141C1365.19 167.385 1365 165.596 1365 163.801V163.801C1365 156.595 1368 149.714 1373.28 144.81L1374.37 143.796C1377.42 140.965 1381.04 138.819 1384.99 137.503V137.503C1386.99 136.836 1389.06 136.389 1391.16 136.168L1393.76 135.893C1396.24 135.632 1398.74 135.73 1401.19 136.184L1402.99 136.517C1408.15 137.472 1412.76 140.305 1415.95 144.47V144.47C1416.98 145.818 1417.84 147.286 1418.52 148.842L1419.52 151.106C1420.49 153.344 1421 155.761 1421 158.205V158.903C1421 163.717 1418.86 168.282 1415.16 171.363V171.363C1413.09 173.094 1410.61 174.278 1407.96 174.808L1407.66 174.867C1402.5 175.9 1397.15 174.54 1393.1 171.17L1390.5 169' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 339L1415.18 340.816C1410.32 344.605 1403.74 345.324 1398.19 342.671L1397.58 342.382C1393.15 340.264 1390.04 336.102 1389.26 331.249V331.249C1388.77 328.161 1389.25 324.996 1390.65 322.198L1391.14 321.212C1393.3 316.91 1397.05 313.622 1401.59 312.054L1402.29 311.815C1406.63 310.317 1411.36 310.346 1415.68 311.899L1422.93 314.5C1426.56 315.805 1429.73 318.147 1432.05 321.236V321.236C1434.61 324.653 1436 328.809 1436 333.08V335.749C1436 340.185 1434.94 344.556 1432.9 348.496L1432.75 348.786C1429.98 354.13 1425.63 358.486 1420.29 361.252L1418.72 362.062C1411.33 365.892 1402.8 366.927 1394.7 364.977L1390.64 363.999C1383.88 362.373 1377.8 358.688 1373.24 353.453L1372.56 352.668C1367.68 347.079 1365 339.915 1365 332.5V332.5V326.69C1365 315.714 1369.51 305.22 1377.46 297.661V297.661C1382.41 292.965 1388.47 289.609 1395.07 287.911L1402.5 286L1409.39 284.324C1416.96 282.482 1423.83 278.464 1429.15 272.767V272.767C1433.01 268.636 1435.94 263.734 1437.76 258.385L1439.99 251.856C1441.96 246.055 1442.37 239.835 1441.17 233.827V233.827C1440.39 229.97 1438.97 226.272 1436.97 222.891L1436.36 221.864C1432.53 215.42 1426.96 210.189 1420.29 206.775V206.775C1412.94 203.018 1404.62 201.639 1396.45 202.83L1392.99 203.335C1387.75 204.1 1382.78 206.165 1378.54 209.343V209.343C1372.39 213.957 1368.13 220.648 1366.54 228.172L1365.56 232.859C1365.19 234.615 1365 236.404 1365 238.199V238.199C1365 245.405 1368 252.286 1373.28 257.19L1374.37 258.204C1377.42 261.035 1381.04 263.181 1384.99 264.497V264.497C1386.99 265.164 1389.06 265.611 1391.16 265.832L1393.76 266.107C1396.24 266.368 1398.74 266.27 1401.19 265.816L1402.99 265.483C1408.15 264.528 1412.76 261.695 1415.95 257.53V257.53C1416.98 256.182 1417.84 254.714 1418.52 253.158L1419.52 250.894C1420.49 248.656 1421 246.239 1421 243.795V243.097C1421 238.283 1418.86 233.718 1415.16 230.637V230.637C1413.09 228.906 1410.61 227.722 1407.96 227.192L1407.66 227.133C1402.5 226.1 1397.15 227.46 1393.1 230.83L1390.5 233' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 397L1415.18 395.184C1410.32 391.395 1403.74 390.676 1398.19 393.329L1397.58 393.618C1393.15 395.736 1390.04 399.898 1389.26 404.751V404.751C1388.77 407.839 1389.25 411.004 1390.65 413.802L1391.14 414.788C1393.3 419.09 1397.05 422.378 1401.59 423.946L1402.29 424.185C1406.63 425.683 1411.36 425.654 1415.68 424.101L1422.93 421.5C1426.56 420.195 1429.73 417.853 1432.05 414.764V414.764C1434.61 411.347 1436 407.191 1436 402.92V400.251C1436 395.815 1434.94 391.444 1432.9 387.504L1432.75 387.214C1429.98 381.87 1425.63 377.514 1420.29 374.748L1418.72 373.938C1411.33 370.108 1402.8 369.073 1394.7 371.023L1390.64 372.001C1383.88 373.627 1377.8 377.312 1373.24 382.547L1372.56 383.332C1367.68 388.921 1365 396.085 1365 403.5V403.5V409.31C1365 420.286 1369.51 430.78 1377.46 438.339V438.339C1382.41 443.035 1388.47 446.391 1395.07 448.089L1402.5 450L1409.39 451.676C1416.96 453.518 1423.83 457.536 1429.15 463.233V463.233C1433.01 467.364 1435.94 472.266 1437.76 477.615L1439.99 484.144C1441.96 489.945 1442.37 496.165 1441.17 502.173V502.173C1440.39 506.03 1438.97 509.728 1436.97 513.109L1436.36 514.136C1432.53 520.58 1426.96 525.811 1420.29 529.225V529.225C1412.94 532.982 1404.62 534.361 1396.45 533.17L1392.99 532.665C1387.75 531.9 1382.78 529.835 1378.54 526.657V526.657C1372.39 522.043 1368.13 515.352 1366.54 507.828L1365.56 503.141C1365.19 501.385 1365 499.596 1365 497.801V497.801C1365 490.595 1368 483.714 1373.28 478.81L1374.37 477.796C1377.42 474.965 1381.04 472.819 1384.99 471.503V471.503C1386.99 470.836 1389.06 470.389 1391.16 470.168L1393.76 469.893C1396.24 469.632 1398.74 469.73 1401.19 470.184L1402.99 470.517C1408.15 471.472 1412.76 474.305 1415.95 478.47V478.47C1416.98 479.818 1417.84 481.286 1418.52 482.842L1419.52 485.106C1420.49 487.344 1421 489.761 1421 492.205V492.903C1421 497.717 1418.86 502.282 1415.16 505.363V505.363C1413.09 507.094 1410.61 508.278 1407.96 508.808L1407.66 508.867C1402.5 509.9 1397.15 508.54 1393.1 505.17L1390.5 503' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 673L1415.18 674.816C1410.32 678.605 1403.74 679.324 1398.19 676.671L1397.58 676.382C1393.15 674.264 1390.04 670.102 1389.26 665.249V665.249C1388.77 662.161 1389.25 658.996 1390.65 656.198L1391.14 655.212C1393.3 650.91 1397.05 647.622 1401.59 646.054L1402.29 645.815C1406.63 644.317 1411.36 644.346 1415.68 645.899L1422.93 648.5C1426.56 649.805 1429.73 652.147 1432.05 655.236V655.236C1434.61 658.653 1436 662.809 1436 667.08V669.749C1436 674.185 1434.94 678.556 1432.9 682.496L1432.75 682.786C1429.98 688.13 1425.63 692.486 1420.29 695.252L1418.72 696.062C1411.33 699.892 1402.8 700.927 1394.7 698.977L1390.64 697.999C1383.88 696.373 1377.8 692.688 1373.24 687.453L1372.56 686.668C1367.68 681.079 1365 673.915 1365 666.5V666.5V660.69C1365 649.714 1369.51 639.22 1377.46 631.661V631.661C1382.41 626.965 1388.47 623.609 1395.07 621.911L1402.5 620L1409.39 618.324C1416.96 616.482 1423.83 612.464 1429.15 606.767V606.767C1433.01 602.636 1435.94 597.734 1437.76 592.385L1439.99 585.856C1441.96 580.055 1442.37 573.835 1441.17 567.827V567.827C1440.39 563.97 1438.97 560.272 1436.97 556.891L1436.36 555.864C1432.53 549.42 1426.96 544.189 1420.29 540.775V540.775C1412.94 537.018 1404.62 535.639 1396.45 536.83L1392.99 537.335C1387.75 538.1 1382.78 540.165 1378.54 543.343V543.343C1372.39 547.957 1368.13 554.648 1366.54 562.172L1365.56 566.859C1365.19 568.615 1365 570.404 1365 572.199V572.199C1365 579.405 1368 586.286 1373.28 591.19L1374.37 592.204C1377.42 595.035 1381.04 597.181 1384.99 598.497V598.497C1386.99 599.164 1389.06 599.611 1391.16 599.832L1393.76 600.107C1396.24 600.368 1398.74 600.27 1401.19 599.816L1402.99 599.483C1408.15 598.528 1412.76 595.695 1415.95 591.53V591.53C1416.98 590.182 1417.84 588.714 1418.52 587.158L1419.52 584.894C1420.49 582.656 1421 580.239 1421 577.795V577.097C1421 572.283 1418.86 567.718 1415.16 564.637V564.637C1413.09 562.906 1410.61 561.722 1407.96 561.192L1407.66 561.133C1402.5 560.1 1397.15 561.46 1393.1 564.83L1390.5 567' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 731L1415.18 729.184C1410.32 725.395 1403.74 724.676 1398.19 727.329L1397.58 727.618C1393.15 729.736 1390.04 733.898 1389.26 738.751V738.751C1388.77 741.839 1389.25 745.004 1390.65 747.802L1391.14 748.788C1393.3 753.09 1397.05 756.378 1401.59 757.946L1402.29 758.185C1406.63 759.683 1411.36 759.654 1415.68 758.101L1422.93 755.5C1426.56 754.195 1429.73 751.853 1432.05 748.764V748.764C1434.61 745.347 1436 741.191 1436 736.92V734.251C1436 729.815 1434.94 725.444 1432.9 721.504L1432.75 721.214C1429.98 715.87 1425.63 711.514 1420.29 708.748L1418.72 707.938C1411.33 704.108 1402.8 703.073 1394.7 705.023L1390.64 706.001C1383.88 707.627 1377.8 711.312 1373.24 716.547L1372.56 717.332C1367.68 722.921 1365 730.085 1365 737.5V737.5V743.31C1365 754.286 1369.51 764.78 1377.46 772.339V772.339C1382.41 777.035 1388.47 780.391 1395.07 782.089L1402.5 784L1409.39 785.676C1416.96 787.518 1423.83 791.536 1429.15 797.233V797.233C1433.01 801.364 1435.94 806.266 1437.76 811.615L1439.99 818.144C1441.96 823.945 1442.37 830.165 1441.17 836.173V836.173C1440.39 840.03 1438.97 843.728 1436.97 847.109L1436.36 848.136C1432.53 854.58 1426.96 859.811 1420.29 863.225V863.225C1412.94 866.982 1404.62 868.361 1396.45 867.17L1392.99 866.665C1387.75 865.9 1382.78 863.835 1378.54 860.657V860.657C1372.39 856.043 1368.13 849.352 1366.54 841.828L1365.56 837.141C1365.19 835.385 1365 833.596 1365 831.801V831.801C1365 824.595 1368 817.714 1373.28 812.81L1374.37 811.796C1377.42 808.965 1381.04 806.819 1384.99 805.503V805.503C1386.99 804.836 1389.06 804.389 1391.16 804.168L1393.76 803.893C1396.24 803.632 1398.74 803.73 1401.19 804.184L1402.99 804.517C1408.15 805.472 1412.76 808.305 1415.95 812.47V812.47C1416.98 813.818 1417.84 815.286 1418.52 816.842L1419.52 819.106C1420.49 821.344 1421 823.761 1421 826.205V826.903C1421 831.717 1418.86 836.282 1415.16 839.363V839.363C1413.09 841.094 1410.61 842.278 1407.96 842.808L1407.66 842.867C1402.5 843.9 1397.15 842.54 1393.1 839.17L1390.5 837' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 1007L1415.18 1008.82C1410.32 1012.61 1403.74 1013.32 1398.19 1010.67L1397.58 1010.38C1393.15 1008.26 1390.04 1004.1 1389.26 999.249V999.249C1388.77 996.161 1389.25 992.996 1390.65 990.198L1391.14 989.212C1393.3 984.91 1397.05 981.622 1401.59 980.054L1402.29 979.815C1406.63 978.317 1411.36 978.346 1415.68 979.899L1422.93 982.5C1426.56 983.805 1429.73 986.147 1432.05 989.236V989.236C1434.61 992.653 1436 996.809 1436 1001.08V1003.75C1436 1008.18 1434.94 1012.56 1432.9 1016.5L1432.75 1016.79C1429.98 1022.13 1425.63 1026.49 1420.29 1029.25L1418.72 1030.06C1411.33 1033.89 1402.8 1034.93 1394.7 1032.98L1390.64 1032C1383.88 1030.37 1377.8 1026.69 1373.24 1021.45L1372.56 1020.67C1367.68 1015.08 1365 1007.91 1365 1000.5V1000.5V994.69C1365 983.714 1369.51 973.22 1377.46 965.661V965.661C1382.41 960.965 1388.47 957.609 1395.07 955.911L1402.5 954L1409.39 952.324C1416.96 950.482 1423.83 946.464 1429.15 940.767V940.767C1433.01 936.636 1435.94 931.734 1437.76 926.385L1439.99 919.856C1441.96 914.055 1442.37 907.835 1441.17 901.827V901.827C1440.39 897.97 1438.97 894.272 1436.97 890.891L1436.36 889.864C1432.53 883.42 1426.96 878.189 1420.29 874.775V874.775C1412.94 871.018 1404.62 869.639 1396.45 870.83L1392.99 871.335C1387.75 872.1 1382.78 874.165 1378.54 877.343V877.343C1372.39 881.957 1368.13 888.648 1366.54 896.172L1365.56 900.859C1365.19 902.615 1365 904.404 1365 906.199V906.199C1365 913.405 1368 920.286 1373.28 925.19L1374.37 926.204C1377.42 929.035 1381.04 931.181 1384.99 932.497V932.497C1386.99 933.164 1389.06 933.611 1391.16 933.832L1393.76 934.107C1396.24 934.368 1398.74 934.27 1401.19 933.816L1402.99 933.483C1408.15 932.528 1412.76 929.695 1415.95 925.53V925.53C1416.98 924.182 1417.84 922.714 1418.52 921.158L1419.52 918.894C1420.49 916.656 1421 914.239 1421 911.795V911.097C1421 906.283 1418.86 901.718 1415.16 898.637V898.637C1413.09 896.906 1410.61 895.722 1407.96 895.192L1407.66 895.133C1402.5 894.1 1397.15 895.46 1393.1 898.83L1390.5 901' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 1065L1415.18 1063.18C1410.32 1059.39 1403.74 1058.68 1398.19 1061.33L1397.58 1061.62C1393.15 1063.74 1390.04 1067.9 1389.26 1072.75V1072.75C1388.77 1075.84 1389.25 1079 1390.65 1081.8L1391.14 1082.79C1393.3 1087.09 1397.05 1090.38 1401.59 1091.95L1402.29 1092.19C1406.63 1093.68 1411.36 1093.65 1415.68 1092.1L1422.93 1089.5C1426.56 1088.2 1429.73 1085.85 1432.05 1082.76V1082.76C1434.61 1079.35 1436 1075.19 1436 1070.92V1068.25C1436 1063.82 1434.94 1059.44 1432.9 1055.5L1432.75 1055.21C1429.98 1049.87 1425.63 1045.51 1420.29 1042.75L1418.72 1041.94C1411.33 1038.11 1402.8 1037.07 1394.7 1039.02L1390.64 1040C1383.88 1041.63 1377.8 1045.31 1373.24 1050.55L1372.56 1051.33C1367.68 1056.92 1365 1064.09 1365 1071.5V1071.5V1077.31C1365 1088.29 1369.51 1098.78 1377.46 1106.34V1106.34C1382.41 1111.04 1388.47 1114.39 1395.07 1116.09L1402.5 1118L1409.39 1119.68C1416.96 1121.52 1423.83 1125.54 1429.15 1131.23V1131.23C1433.01 1135.36 1435.94 1140.27 1437.76 1145.61L1439.99 1152.14C1441.96 1157.94 1442.37 1164.16 1441.17 1170.17V1170.17C1440.39 1174.03 1438.97 1177.73 1436.97 1181.11L1436.36 1182.14C1432.53 1188.58 1426.96 1193.81 1420.29 1197.22V1197.22C1412.94 1200.98 1404.62 1202.36 1396.45 1201.17L1392.99 1200.66C1387.75 1199.9 1382.78 1197.83 1378.54 1194.66V1194.66C1372.39 1190.04 1368.13 1183.35 1366.54 1175.83L1365.56 1171.14C1365.19 1169.38 1365 1167.6 1365 1165.8V1165.8C1365 1158.59 1368 1151.71 1373.28 1146.81L1374.37 1145.8C1377.42 1142.96 1381.04 1140.82 1384.99 1139.5V1139.5C1386.99 1138.84 1389.06 1138.39 1391.16 1138.17L1393.76 1137.89C1396.24 1137.63 1398.74 1137.73 1401.19 1138.18L1402.99 1138.52C1408.15 1139.47 1412.76 1142.31 1415.95 1146.47V1146.47C1416.98 1147.82 1417.84 1149.29 1418.52 1150.84L1419.52 1153.11C1420.49 1155.34 1421 1157.76 1421 1160.2V1160.9C1421 1165.72 1418.86 1170.28 1415.16 1173.36V1173.36C1413.09 1175.09 1410.61 1176.28 1407.96 1176.81L1407.66 1176.87C1402.5 1177.9 1397.15 1176.54 1393.1 1173.17L1390.5 1171' stroke='%233D1A1A' stroke-width='7'/%3e%3cpath d='M1417.5 5.00002L1415.18 6.81567C1410.32 10.605 1403.74 11.3236 1398.19 8.67109L1397.58 8.38195C1393.15 6.26432 1390.04 2.10239 1389.26 -2.75096V-2.75096C1388.77 -5.83909 1389.25 -9.00443 1390.65 -11.8017L1391.14 -12.7881C1393.3 -17.0904 1397.05 -20.3782 1401.59 -21.9463L1402.29 -22.1852C1406.63 -23.6834 1411.36 -23.6536 1415.68 -22.1009L1422.93 -19.5C1426.56 -18.1954 1429.73 -15.8535 1432.05 -12.7643V-12.7643C1434.61 -9.34719 1436 -5.19097 1436 -0.919533V1.74893C1436 6.18494 1434.94 10.5563 1432.9 14.4964L1432.75 14.786C1429.98 20.1302 1425.63 24.4857 1420.29 27.2523L1418.72 28.0617C1411.33 31.8917 1402.8 32.9268 1394.7 30.9773L1390.64 29.9987C1383.88 28.3732 1377.8 24.6877 1373.24 19.453L1372.56 18.6684C1367.68 13.0792 1365 5.91496 1365 -1.49998V-1.49998V-7.31011C1365 -18.2857 1369.51 -28.7801 1377.46 -36.3395V-36.3395C1382.41 -41.0353 1388.47 -44.3912 1395.07 -46.0891L1402.5 -48L1409.39 -49.6764C1416.96 -51.5185 1423.83 -55.5358 1429.15 -61.2335V-61.2335C1433.01 -65.3641 1435.94 -70.2657 1437.76 -75.6146L1439.99 -82.144C1441.96 -87.9449 1442.37 -94.1646 1441.17 -100.173V-100.173C1440.39 -104.03 1438.97 -107.728 1436.97 -111.109L1436.36 -112.136C1432.53 -118.58 1426.96 -123.811 1420.29 -127.225V-127.225C1412.94 -130.982 1404.62 -132.361 1396.45 -131.17L1392.99 -130.665C1387.75 -129.9 1382.78 -127.835 1378.54 -124.657V-124.657C1372.39 -120.043 1368.13 -113.352 1366.54 -105.828L1365.56 -101.141C1365.19 -99.3849 1365 -97.5956 1365 -95.8015V-95.8015C1365 -88.5948 1368 -81.7136 1373.28 -76.8099L1374.37 -75.7962C1377.42 -72.9649 1381.04 -70.8192 1384.99 -69.5034V-69.5034C1386.99 -68.8364 1389.06 -68.3886 1391.16 -68.1678L1393.76 -67.8933C1396.24 -67.6324 1398.74 -67.7304 1401.19 -68.1841L1402.99 -68.517C1408.15 -69.4715 1412.76 -72.3054 1415.95 -76.4695V-76.4695C1416.98 -77.8183 1417.84 -79.2863 1418.52 -80.8418L1419.52 -83.1059C1420.49 -85.3444 1421 -87.7613 1421 -90.2047V-90.9032C1421 -95.7168 1418.86 -100.282 1415.16 -103.363V-103.363C1413.09 -105.094 1410.61 -106.278 1407.96 -106.808L1407.66 -106.867C1402.5 -107.9 1397.15 -106.54 1393.1 -103.17L1390.5 -101' stroke='%233D1A1A' stroke-width='7'/%3e%3crect x='1334' width='12' height='1080' fill='%233D1A1A'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_20_2'%3e%3crect width='1920' height='1080' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	background-size: cover;
}

#welcome ul{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 2%;
	max-width: 60%;
}

#welcome h1{
	  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 6rem;
    color: #250E0E;
}

#welcome h2{
	font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
	font-size: 2.5rem;
    color: #653939;
}

#page_header {
	margin-top: 6%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 10px;
	background: #DAA88C;
}

#menu li {
	color: #250E0E;
	font-family: "Nunito", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 25.57px;
  	display: inline;
 	list-style-type: none;
 	padding-right: 20px;
 	text-decoration: none;
}

#auth {
	color: #250E0E;
	display: flex;
	flex-direction: row;
	margin-right: 100px;
	text-align: right
}

#auth button{
	font-family: "Nunito", serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	font-size: 24px;
	margin-left: 15px;
}

.leftcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 10px;
	margin-left: 5%;
	float: left;
	text-align: center;
}

.container div{
	width: 30%;
	height: 50%;
}

.leftcontainer li {
	font-size: 25.57px;
 	list-style-type: none;
}

.leftcontainer h1 {
	margin: 5%;
	font-size: 100px;
}

.rightcontainer {
	display: flex;
	margin-right: 5%;
	float: right;
	text-align: center;
}

.rightcontainer img{
	width: 300px;
	height: 300px;
}

#auth a{
	font-family: "Nunito", serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	margin-right: 1rem;
    font-size: 1.5rem;
    color: #250E0E;
}

.registration_button {
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
    color: #250E0E; /* Цвет текста */
    border: 2px solid #3D1A1A;
    background:#FFE2D8;
    border-radius: 75px; /* Закругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.custom_button {
	font-family: "Nunito", serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	margin-top: 12%;
	max-width: 40%;
    display: inline-block;
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 2.5rem; /* Размер шрифта */
    color: #250E0E; /* Цвет текста */
    border: 8px solid #3D1A1A;
    border-radius: 75px; /* Закругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

#he{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 2rem;
    color: #250E0E;
	text-align: center;
}

.lib_cont{
	min-width: 100%;
  	display: flex;
  	justify-content: center; 
  	align-items: center
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 10px;
	text-align: center;
}

.lib_cont a {
	margin: 5%;
}